{% extends "base.html" %}
{% load static from staticfiles %}
{% load cache chunks i18n catalogue_tags infopages_tags social_tags %}


{% block title %}{% trans "Biblioteka Otwartej Nauki" %}{% endblock %}
{% block ogtitle %}{% trans "Biblioteka Otwartej Nauki" %}{% endblock %}

{% block wrapperclass %}{% endblock %}

{% block body %}
    {% spaceless %}

        <div class="start">

            <h1>udostępnij swoje książki</h1>

            <div class="step">
                <h3>01</h3>
                <p>autor zgłasza chęć<br>
                udostępnienia<br>
                książki w kolekcji<br>
                BON
                </p>
            </div>
            <div class="step">
                <h3>02</h3>
                <p>rozwiązujemy<br>
                kwestie praw<br>
                autorskich. jeśli<br>
                trzeba rozmawiamy<br>
                z wydawcami
                </p>
            </div>
            <div class="step">
                <h3>03</h3>
                <p>skanujemy ksiązki.<br>
                ze skanów wyciągamy warstwę tekstową,<br>
                aby ksiązki mozna<br>
                było przeszukiwać
                </p>
            </div>
            <div class="step last">
                <h3>04</h3>
                <p>książka otrzymuje<br>
                nową okładkę<br>
                i jest udostępniona<br>
                w serwisie</p>
            </div>
            <div class="step">
                <h3>05</h3>
                <p>ksiązka pojawia się<br>
                w wyszukiwarkach<br>
                naukowych jak google<br>
                scholar czy scirus &mdash;<br>
                jest widoczna na całym<br>
                świecie. indeks cytowań<br>
                autora wzrasta</p>
            </div>
            <div class="mform">
                <div class="box">
                    <h2>jeśli jesteś zainteresowany,<br>wypełnij formularz</h2>
                    <form>
                        <input type="text" placeholder="Imię i nazwisko" name="person">
                        <input type="text" placeholder="adres e-mail" name="mail">
                        <input type="text" placeholder="Numer telefonu" name="phone">
                        <input type="submit" value="Wyślij">
                    </form>
                </div>
            </div>
            <div class="actions">
                <a href="">Dowiedz się więcej</a>
                <a href="/info/kontakt/">Skontaktuj się z nami</a>
            </div>

            <div class="clear"></div>
        </div>


        <div class="pub left">
            <div class="screen">
                <img src="{% static "img/p1.jpg" %}" alt=""/>
                <a href="" data-youtube-video="" class="play video-trigger">odtwórz</a>
            </div>
            <div class="book gray">
                <div class="cover">
                    <div class="title">TEORETYCY, HISTORIOGRAFOWIE I ARTYŚCI O SZTUCE<br/>1600-1700</div>
                    <div class="author">MARIA POPRZĘCKA</div>
                </div>
            </div>
            <div class="book orange">
                <div class="cover">
                     <div class="title">CZAS WYOBRAŻONY. O SPOSOBACH OPOWIADANIA W POLSKIM MALARSTWIE XIX WIEKU</div>
                    <div class="author">MARIA POPRZĘCKA</div>
                </div>
            </div>
            <div class="quote">
                <h5>Prof. Maria Poprzęcka</h5>
                <p>„Nie czuję się jakąś zachłanną, zawistną właścicielką <br/>swoich praw intelektualnych.”</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="pub right">
            <div class="book black">
                <div class="cover">
                     <div class="title">ATENY I OKOLICE: PRZEWODNIK TURYSTYCZNY [WSPÓŁAUTORZY: J.PAŁĘCKA, O.SOBAŃSKI]</div>
                    <div class="author">WŁODZIMIERZ LENGAUER</div>
                </div>
            </div>
            <div class="book gray">
                <div class="cover">
                     <div class="title">ISONOMIA. POJĘCIE RÓWNOŚCI W GRECKICH KONCEPCJACH POLITYCZNYCH. OD HOMERA DO KOŃCA V WIEKU P.N.E.</div>
                    <div class="author">WŁODZIMIERZ LENGAUER</div>
                </div>
            </div>
            <div class="quote">
                <h5>Prof. WŁODZIMIERZ LENGAUER</h5>
                <p>„Będę znany, będę miał nazwisko. Ludzie czasem nawet dojdą do wniosku, że muszą zacytować.”</p>
            </div>
            <div class="screen">
                <img src="{% static "img/p2.jpg" %}" alt=""/>
                <a href="http://www.youtube.com/watch?v=OZ--M7LJqGE" data-youtube-video="v=OZ--M7LJqGE" class="play video-trigger">odtwórz</a>
            </div>
            <div class="clear"></div>
        </div>

        <div class="pub left">
            <div class="screen">
                <img src="{% static "img/p3.jpg" %}" alt=""/>
                <a href="http://www.youtube.com/watch?v=c1SBPrtEqXU" data-youtube-video="c1SBPrtEqXU" class="play video-trigger">odtwórz</a>
            </div>
             <div class="book gray">
                <div class="cover">
                    <div class="title">TEORETYCY, HISTORIOGRAFOWIE I ARTYŚCI O SZTUCE<br/>1600-1700</div>
                    <div class="author">MARIA POPRZĘCKA</div>
                </div>
            </div>
            <div class="book orange">
                <div class="cover">
                     <div class="title">CZAS WYOBRAŻONY. O SPOSOBACH OPOWIADANIA W POLSKIM MALARSTWIE XIX WIEKU</div>
                    <div class="author">MARIA POPRZĘCKA</div>
                </div>
            </div>
            <div class="quote">
                <h5> Prof. Sławomira Żerańska-Kominek</h5>
                <p>„Jeżeli nie będziecie publikować, ogłaszać w sieci, dawać dostępu, to nie będziecie czytani i bedziecie zepchnięci na margines.”</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="pub right">
            <div class="book gray">
                <div class="cover">
                     <div class="title">ATENY I OKOLICE: PRZEWODNIK TURYSTYCZNY [WSPÓŁAUTORZY: J.PAŁĘCKA, O.SOBAŃSKI]</div>
                    <div class="author">WŁODZIMIERZ LENGAUER</div>
                </div>
            </div>
            <div class="book black">
                <div class="cover">
                     <div class="title">ISONOMIA. POJĘCIE RÓWNOŚCI W GRECKICH KONCEPCJACH POLITYCZNYCH. OD HOMERA DO KOŃCA V WIEKU P.N.E.</div>
                    <div class="author">WŁODZIMIERZ LENGAUER</div>
                </div>
            </div>
            <div class="quote">
                <h5>Prof. Henryk Samsonowicz</h5>
                <p>„Przyspieszenie przekazu wiedzy i kolejna rewolucja w zakresie kształcenia.”</p>
            </div>
            <div class="screen">
                <img src="{% static "img/p4.jpg" %}" alt=""/>
                <a href="" data-youtube-video="" class="play video-trigger">odtwórz</a>
            </div>
            <div class="clear"></div>
        </div>

        <div class="pub left">
            <div class="screen">
                <img alt="" src="{% static "img/p5.jpg" %}">
                <a class="play video-trigger" data-youtube-video="5To3rf-GAOs" href="http://www.youtube.com/watch?v=5To3rf-GAOs">odtwórz</a>
            </div>
             <div class="book orange">
                <div class="cover">
                    <div class="title">TEORETYCY, HISTORIOGRAFOWIE I ARTYŚCI O SZTUCE<br>1600-1700</div>
                    <div class="author">MARIA POPRZĘCKA</div>
                </div>
            </div>
            <div class="book black">
                <div class="cover">
                     <div class="title">CZAS WYOBRAŻONY. O SPOSOBACH OPOWIADANIA W POLSKIM MALARSTWIE XIX WIEKU</div>
                    <div class="author">MARIA POPRZĘCKA</div>
                </div>
            </div>
            <div class="quote">
                <h5>Prof. Elżbieta Tarkowska</h5>
                <p>„Ta wiedza jest naszym dobrem wspólnym.”</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="pub right publast">
            <div class="book gray">
                <div class="cover">
                     <div class="title">ATENY I OKOLICE: PRZEWODNIK TURYSTYCZNY [WSPÓŁAUTORZY: J.PAŁĘCKA, O.SOBAŃSKI]</div>
                    <div class="author">WŁODZIMIERZ LENGAUER</div>
                </div>
            </div>
            <div class="quote">
                <h5>dr Emanuel Kulczycki</h5>
                <p>„Oprócz krytyki, propozycji współpracy, uzyskałem bardzo dużo kontaktów, które wykorzystam w dalszej pracy naukowej.”</p>
            </div>
            <div class="screen">
                <img alt="" src="{% static "img/p6.jpg" %}">
                <a class="play video-trigger" data-youtube-video="4E6eQeZEdl0" href="http://www.youtube.com/watch?v=4E6eQeZEdl0">odtwórz</a>
            </div>
            <div class="clear"></div>
        </div>


        <div class="recommended">
            <h2>polecane pozycje</h2>
            {% recommended_books %}
            <div class="clear"></div>
        </div>

    {% endspaceless %}

{% endblock %}