{% extends "base.html" %}
{% load static from staticfiles %}
{% load cache chunks i18n catalogue_tags infopages_tags social_tags %}


{% block title %}{% trans "Biblioteka Otwartej Nauki" %}{% endblock %}
{% block ogtitle %}{% trans "Biblioteka Otwartej Nauki" %}{% endblock %}

{% block wrapperclass %}{% endblock %}

{% block body %}
    {% spaceless %}

        <div class="start">

            <h1><a href="/info/kontakt/">udostępnij swoje książki</a></h1>

            <div class="step">
                <h3>01</h3>
                <p>autor zgłasza chęć<br>
                udostępnienia<br>
                książki w kolekcji<br>
                BON
                </p>
            </div>
            <div class="step">
                <h3>02</h3>
                <p>rozwiązujemy<br>
                kwestie praw<br>
                autorskich. jeśli<br>
                trzeba rozmawiamy<br>
                z wydawcami
                </p>
            </div>
            <div class="step">
                <h3>03</h3>
                <p>skanujemy książki.<br>
                ze skanów wyciągamy warstwę tekstową,<br>
                aby książki można<br>
                było przeszukiwać
                </p>
            </div>
            <div class="step last">
                <h3>04</h3>
                <p>książka otrzymuje<br>
                nową okładkę<br>
                i jest udostępniona<br>
                w serwisie</p>
            </div>
            <div class="step">
                <h3>05</h3>
                <p>książka pojawia się<br>
                w wyszukiwarkach<br>
                naukowych jak google<br>
                scholar czy scirus &mdash;<br>
                jest widoczna na całym<br>
                świecie. indeks cytowań<br>
                autora wzrasta</p>
            </div>
            <div class="mform">
                <div class="box">
                    <h2>jeśli jesteś zainteresowany,<br>wypełnij formularz</h2>
                    <form action="/info/kontakt/" method="GET">
                        <input type="text" placeholder="Imię i nazwisko" name="person">
                        <input type="text" placeholder="adres e-mail" name="mail">
                        <input type="text" placeholder="Numer telefonu" name="phone">
                        <input type="submit" value="Dalej">
                    </form>
                </div>
            </div>
            <div class="actions">
                <a href="/info/o-projekcie/">Dowiedz się więcej</a>
                <a href="/info/kontakt/">Skontaktuj się z nami</a>
            </div>

            <div class="clear"></div>
        </div>


        <div class="pub left">
            <div class="screen">
                <div class="tint"></div>
                <img src="{% static "img/p1.jpg" %}" alt="" />
                <a href="http://www.youtube.com/watch?v=xJrb9ksYaCc" data-youtube-video="xJrb9ksYaCc" class="play video-trigger">odtwórz</a>
            </div>
            <div class="book gray">
                <div class="cover">
                    <div class="title">Artysta na przełomie epok - Francisco Goya</div>
                    <div class="author">MARIA POPRZĘCKA</div>
                </div>
                <a class="booklink" href="/katalog/lektura/artysta-na-przelomie-epok-francisco-goya/">book</a>
            </div>
            <div class="book orange">
                <div class="cover">
                     <div class="title">Czas wyobrażony. O sposobach opowiadania w polskim malarstwie XIX wieku</div>
                    <div class="author">MARIA POPRZĘCKA</div>
                </div>
                <a class="booklink" href="/katalog/lektura/czas-wyobrazony-o-sposobach-opowiadania-w-polskim-malarstwie-xix-wieku/">book</a>
            </div>
            <div class="quote">
                <h5><a href="/katalog/autor/poprzecka-maria/">Prof. Maria Poprzęcka</a></h5>
                <p>„Nie czuję się jakąś zachłanną, zawistną właścicielką <br/>swoich praw intelektualnych.”</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="pub right">
            <div class="book black">
                <div class="cover">
                    <div class="title">Isonomia. Pojęcie równości w greckich koncepcjach politycznych. Od Homera do końca V wieku p.n.e.</div>
                    <div class="author">WŁODZIMIERZ LENGAUER</div>
                </div>
                <a class="booklink" href="/katalog/lektura/isonomia-pojecie-rownosci-w-greckich-koncepcjach-politycznych-od-homera-do-konca-v-wieku-pne/">book</a>
            </div>
            <div class="book gray">
                <div class="cover">
                     <div class="title">Grecja. Mały przewodnik turystyczny [współautor: A. Maliszewski]</div>
                    <div class="author">WŁODZIMIERZ LENGAUER</div>
                </div>
                <a class="booklink" href="/katalog/lektura/grecja-maly-przewodnik-turystyczny-wspolautor-maliszewski/">book</a>
            </div>
            <div class="quote">
                <h5><a href="/katalog/autor/lengauer-wlodzimierz/">Prof. WŁODZIMIERZ LENGAUER</a></h5>
                <p>„Będę znany, będę miał nazwisko. Ludzie czasem nawet dojdą do wniosku, że muszą zacytować.”</p>
            </div>
            <div class="screen">
                <div class="tint"></div>
                <img src="{% static "img/p2.jpg" %}" alt="" />
                <a href="http://www.youtube.com/watch?v=OZ--M7LJqGE" data-youtube-video="OZ--M7LJqGE" class="play video-trigger">odtwórz</a>
            </div>
            <div class="clear"></div>
        </div>

        <div class="pub left">
            <div class="screen">
                <div class="tint"></div>
                <img src="{% static "img/p3.jpg" %}" alt="" />
                <a href="http://www.youtube.com/watch?v=c1SBPrtEqXU" data-youtube-video="c1SBPrtEqXU" class="play video-trigger">odtwórz</a>
            </div>
             <div class="book black">
                <div class="cover">
                    <div class="title">Kultura muzyczna mniejszości narodowych w Polsce. Litwini, Białorusini, Ukraińcy</div>
                    <div class="author">S?~Bawomira Żera?~Dsk<br/>a-Kominek</div>
                </div>
                <a class="booklink" href="/katalog/lektura/kultura-muzyczna-mniejszosci-narodowych-w-polsce-litwini-bialorusini-ukraincy/">book</a>
            </div>

            <div class="quote">
                <h5><a href="/katalog/autor/zeranska-kominek-slawomira/">Prof. Sławomira Żerańska-Kominek</a></h5>
                <p>„Jeżeli nie będziecie publikować, ogłaszać w sieci, dawać dostępu, to nie będziecie czytani i bedziecie zepchnięci na margines.”</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="pub right">
            <div class="book orange">
                <div class="cover">
                    <div class="title">Badania nad kapitałem mieszczańskim Gdańska w II poł. XV w.</div>
                    <div class="author">Henryk Samsonowicz</div>
                </div>
                <a class="booklink" href="/katalog/lektura/badania-nad-kapitalem-mieszczanskim-gdanska-w-ii-pol-xv-w/">book</a>
            </div>
            <div class="book black">
                <div class="cover">
                    <div class="title">Hanza władczyni mórz</div>
                    <div class="author">Henryk Samsonowicz</div>
                </div>
                <a class="booklink" href="/katalog/lektura/hanza-wladczyni-morz/">book</a>
            </div>
            <div class="quote">
                <h5><a href="/katalog/autor/samsonowicz-henryk/">Prof. Henryk Samsonowicz</a></h5>
                <p>„Przyspieszenie przekazu wiedzy i kolejna rewolucja w zakresie kształcenia.”</p>
            </div>
            <div class="screen">
                <div class="tint"></div>
                <img src="{% static "img/p4.jpg" %}" alt="" />
                <a href="http://www.youtube.com/watch?v=2kjoaflm4xk" data-youtube-video="2kjoaflm4xk" class="play video-trigger">odtwórz</a>
            </div>
            <div class="clear"></div>
        </div>

        <div class="pub left">
            <div class="screen">
                <div class="tint"></div>
                <img alt="" src="{% static "img/p5.jpg" %}" />
                <a class="play video-trigger" data-youtube-video="5To3rf-GAOs" href="http://www.youtube.com/watch?v=5To3rf-GAOs">odtwórz</a>
            </div>
             <div class="book orange">
                <div class="cover">
                    <div class="title">ZROZUMIEĆ BIEDNEGO. O DAWNEJ I OBECNEJ BIEDZIE W POLSCE.</div>
                    <div class="author">Elżbieta Tarkowska</div>
                </div>
            </div>
            <div class="book black">
                <div class="cover">
                    <div class="title">CZAS W SPOŁECZEŃSTWIE. PROBLEMY, TRADYCJE, KIERUNKI BADAŃ</div>
                    <div class="author">Elżbieta Tarkowska</div>
                </div>
            </div>
            <div class="quote">
                <h5><a href="">Prof. Elżbieta Tarkowska</a></h5>
                <p>„Ta wiedza jest naszym dobrem wspólnym.”</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="pub right publast">
            <div class="book gray">
                <div class="cover">
                     <div class="title">Teoretyzowanie komunikacji</div>
                    <div class="author">Emanuel Kulczycki</div>
                </div>
                <a class="booklink" href="/katalog/lektura/teoretyzowanie-komunikacji/">book</a>
            </div>
            <div class="quote">
                <h5><a href="/katalog/autor/kulczycki-emanuel/">dr Emanuel Kulczycki</a></h5>
                <p>„Oprócz krytyki, propozycji współpracy, uzyskałem bardzo dużo kontaktów, które wykorzystam w dalszej pracy naukowej.”</p>
            </div>
            <div class="screen">
                <div class="tint"></div>
                <img alt="" src="{% static "img/p6.jpg" %}" />
                <a class="play video-trigger" data-youtube-video="4E6eQeZEdl0" href="http://www.youtube.com/watch?v=4E6eQeZEdl0">odtwórz</a>
            </div>
            <div class="clear"></div>
        </div>


        <div class="recommended">
            <h2>polecane pozycje</h2>
            {% recommended_books %}
            <div class="clear"></div>
        </div>

    {% endspaceless %}

{% endblock %}
