<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    {% load cache compressed i18n %}
    {% load static from staticfiles %}
    {% load catalogue_tags reporting_stats sponsor_tags %}
    <head>
        <meta charset="utf-8">
        <meta name="application-name" content="Biblioteka Otwartej Nauki" />
        <meta property="og:site_name" content="Biblioteka Otwartej Nauki" />
        <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
        <meta property="og:type" content="{% block ogtype %}website{% endblock %}" />
        <meta property="og:image" content="{% block ogimage %}{{ FULL_STATIC_URL }}img/BON_logo.png{% endblock %}" />
        <meta name="description"
            content="{% block metadescription %}Darmowe opracowane, pełne teksty lektur, e-booki, audiobooki i pliki DAISY na wolnej licencji.{% endblock %}" />
        {% block ogextra %}{% endblock %}


        <title>{% block title %}{% trans "Biblioteka Otwartej Nauki" %} ::
            {% block titleextra %}{% endblock %}{% endblock %}</title>
        <!--<link rel="icon" href="{% static "img/favicon.png" %}" type="image/png" />
        <link rel="search" type="application/opensearchdescription+xml" title="Biblioteka Otwartej Nauki"
            href="{% static "opensearch.xml" %}" />-->

        <link href='http://fonts.googleapis.com/css?family=Enriqueta:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" media="screen" />

        {% block extrahead %}
        {% endblock %}
    </head>
    <body id="{% block bodyid %}base{% endblock %}">

        <div id="wrapper" class="{% block wrapperclass %}sub{% endblock %}">

            <div id="inner">

                {% block bodycontent %}

                    <div id="top">

                        <div class="logo">
                            <a href="/" title="powrót do strony startowej"><img src="{%  static "img/BON_logo.png" %}" alt="Biblioteka Otwartej Nauki"/></a>
                        </div>

                        <div class="clear"></div>

                        <div class="menu">
                            <ul>
                                <li class="{% ifequal request.path "/" %}active{% endifequal %}"><a href="/">Strona główna</a></li>
                                <li class="{% ifequal request.path "/info/pytania-i-odpowiedzi/" %}active{% endifequal %}"><a href="/info/pytania-i-odpowiedzi/">Pytania i odpowiedzi</a></li>
                                <li class="{% ifequal request.path "/katalog/autorzy/" %}active{% endifequal %}"><a href="{% url 'authors' %}">Kto udostępnił</a></li>
                                <li class="{% ifequal request.path "/katalog/lektury/" %}active{% endifequal %}"><a href="{% url 'book_list' %}">Biblioteka</a></li>
                                <li class="{% ifequal request.path "/info/o-projekcie/" %}active{% endifequal %}"><a href="/info/o-projekcie/">O projekcie</a></li>
                                <li class="{% ifequal request.path "/info/kontakt/" %}active{% endifequal %}"><a href="/info/kontakt/">Kontakt</a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>

                    </div><!-- #top -->

                    <div id="content">

                        {% block body %}{% endblock %}

                    </div><!-- #content -->

                    <div id="footer">
                        <div class="left">
                            <ul>
                                <li><a href="/">Strona główna</a></li>
                                <li><a href="/info/o-projekcie/">O projekcie</a></li>
                                <li><a href="{% url 'book_list' %}">Biblioteka</a></li>
                            </ul>
                             <ul>
                                <li><a href="{% url 'authors' %}">Kto udostępnił</a></li>
                                <li><a href="/info/pytania-i-odpowiedzi/">Pytania i odpowiedzi</a></li>
                                <li><a href="/info/kontakt/">Kontakt</a></li>
                            </ul>
                            <div class="clear"></div>
                            <p class="source">Serwis wykorzystuje zmodyfikowane oprogramowanie projektu Wolne Lektury tworzone przez Fundację Nowoczesna Polska. Kod źródłowy dostępny w serwisie <a href="https://github.com/BibliotekaOtwartejNauki/wolnelektury/tree/bon" target="_blank">GitHub</a>.</p>
                        </div>
                        <div class="right">
                            <div class="project">Projekt dofinansowany przez:<br /><br />
                                <img src="{% static "img/nia_logo.png" %}" alt="" />
                                <div class="clear"></div>
                                <div class="project logotyp">
                                    <img src="{% static "img/mkidn.png" %}" alt="" />
                                </div>
                                <div class="project logotyp">
                                    <img src="{% static "img/dziedzictwo.png" %}" alt="" />
                                </div>
                            </div>
                            <div class="copy">
                                <img title="BY-SA" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" alt="" width="80" height="15" /><br />Biblioteka Otwartej Nauki 2013<br /><br />
                                projekt strony internetowej:<br />
                                studio CONTROL+N
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div><!-- #footer -->

                {% endblock bodycontent %}

            </div><!-- #wrapper -->

        </div><!-- #inner -->

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static "js/main.js" %}"></script>
        <script type="text/javascript">
            var LANGUAGE_CODE = "{{ LANGUAGE_CODE }}";
            var STATIC_URL = "{{ STATIC_URL }}";
        </script>

        {{ piwik_tag|safe }}

        {% block extrabody %}{% endblock %}

    </body>
</html>