{% extends "base.html" %}
{% load i18n %}
{% load catalogue_tags pagination_tags %}

{% block bodyid %}book-a-list{% endblock %}

{% block titleextra %}Biblioteka{% endblock %}

{% block body %}
    <div class="start">
        <h1>biblioteka</h1>

        {% autopaginate books 25 %}
        {% for book in books %}
            {% if forloop.counter|divisibleby:"5" %}
                {% book_mini book 'last' %}
            {% else %}
                {% book_mini book %}
            {% endif %}
        {% endfor %}
        <div class="clear"></div>
        {% paginate %}
    </div>
{% endblock %}
