{% load i18n %}
{% load download_audio tag_list custom_pdf_link_li license_icon tag_url from catalogue_tags %}
{% load cite_promo likes from social_tags %}

<div class="contentbox">
    <div class="pos">
        <div class="book {{ book.cover_color|default:"gray" }}">
            <div class="cover">
                <div class="title">
                    {% if main_link %}<a href="{{ main_link }}">{% endif %}
                    {{ book.title }}
                    {% if main_link %}</a>{% endif %}
                </div>
                <div class="author">
                    {% for name, slug in related.tags.author %}
                        <a href="{% tag_url 'author' slug %}">{{ name }}</a>
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                    {% for title, slug in related.parents %},
                        <a href="{% url 'book_detail' slug %}">{{ title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="posinfo">
        <div class="postitle">
            {% if main_link %}<a href="{{ main_link }}">{% endif %}
            {{ book.title }}
            {% if main_link %}</a>{% endif %}
        </div>
        <div class="posauth">
            {% for name, slug in related.tags.author %}
                <a href="{% tag_url 'author' slug %}">{{ name }}</a>
                {% if not forloop.last %},{% endif %}
            {% endfor %}
            {% for title, slug in related.parents %},
                <a href="{% url 'book_detail' slug %}">{{ title }}</a>
            {% endfor %}
        </div>

        <div class="actions">
            {% if book.pdf_file %}
                <a href="">Informacje o licencji</a>
                <a href="{{ book.pdf_file.url }}">Pobierz książkę</a>
            {% endif %}
            {% if request.user.is_authenticated %}
                {% if not request.user|likes:book %}
                    <a href="{% url "social_like_book" book.slug %}" class="ajaxable" data-ajax-method="post">Dodaj do swojej półki</a>
                {% else %}
                    <a href="{% url "social_unlike_book" book.slug %}" class="ajaxable" data-ajax-method="post">Usuń ze swojej półki</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="clear"></div>
</div>

<div class="info">
    <h2>co zrobiliśmy, aby ta książka była dostępna?</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et sem in neque interdum cursus. Integer id ligula sit amet urna gravida venenatis. Proin hendrerit, quam nec bibendum pulvinar, nunc elit pharetra neque, eu accumsan mi velit a nisi. Suspendisse mi quam, pulvinar non lacinia sed, tempus vel sem. </p>
</div>

<div class="clear"></div>
