{% load i18n common_tags %}
{% load download_audio tag_list custom_pdf_link_li license_icon tag_url from catalogue_tags %}
{% load cite_promo likes from social_tags %}

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div class="contentbox">
    <div class="pos-and-social-wrapper">
        <div class="pos">
            <div class="book {{ book.cover_color|default:"gray" }}">
                <div class="cover">
                    <div class="title">
                        {% if main_link %}<a href="{{ main_link }}">{% endif %}
                        {{ book.title }}
                        {% if main_link %}</a>{% endif %}
                    </div>
                    <div class="author">
                        {% for name, slug in related.tags.author %}
                            <a href="{% tag_url 'author' slug %}">{{ name }}</a>
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% if book.pdf_file %}
                    <a class="booklink" href="{{ book.pdf_file.url }}">book</a>
                {% endif %}
            </div>
        </div>
        <div class="social-buttons">
            <div class="social-button facebook">
                <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
            </div>
            <div class="social-button twitter">
                <a href="https://twitter.com/share" class="twitter-share-button" data-lang="pl"></a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
            <div class="social-button gplus">
                <!-- Place this tag where you want the +1 button to render. -->
                <div class="g-plusone" data-size="medium"></div>

                <!-- Place this tag after the last +1 button tag. -->
                <script type="text/javascript">
                  window.___gcfg = {lang: 'pl'};

                  (function() {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                  })();
                </script>
            </div>
        </div>
    </div>
    <div class="posinfo">
        <div class="posauth">
            {% for name, slug in related.tags.author %}
                <a href="{% tag_url 'author' slug %}">
                    {% with splitted_name=name|split:" " %}
                        {% for word in splitted_name reversed %}
                            {{ word }}
                        {% endfor %}
                    {% endwith %}
                </a>
                {% if not forloop.last %},{% endif %}
            {% endfor %}

            {% if book.year_of_publication %}
                <br />{{ book.year_of_publication }}
            {% endif %}
            {% if book.parent_title %}
                <br />{{ book.parent_title }}
            {% endif %}
            {% if book.parent %}
                <br /><br />{{ book.parent }}
            {% endif %}
            {% if book.license %}
                <div class="license">
                    {% if book.license == 'CC-BY' %}
                        <img width="88" height="31" alt="" src="https://i.creativecommons.org/l/by/3.0/88x31.png" title="BY" />
                    {% elif book.license == 'CC-BY-SA' %}
                        <img width="88" height="31" alt="" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" title="BY-SA" />
                    {% elif book.license == 'CC-BY-NC' %}
                        <img width="88" height="31" alt="" src="https://i.creativecommons.org/l/by-nc/3.0/88x31.png" title="BY-NC" />
                    {% elif book.license == 'CC-BY-ND' %}
                        <img width="88" height="31" alt="" src="https://i.creativecommons.org/l/by-nd/3.0/88x31.png" title="BY-ND" />
                    {% elif book.license == 'CC-BY-NC-SA' %}
                        <img width="88" height="31" alt="" src="https://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" title="BY-NC-SA" />
                    {% elif book.license == 'CC-BY-NC-ND' %}
                        <img width="88" height="31" alt="" src="https://i.creativecommons.org/l/by-nc-nd/3.0/88x31.png" title="BY-NC-ND" />
                    {% elif book.license == 'dozwolony-uzytek' %}
                        publikacja jest udostępniona do wykorzystania w ramach dozwolonego użytku
                    {% endif %}
                </div>
            {% endif %}
        </div>

        <div class="actions">
            {% if book.pdf_file %}
                <a href="{{ book.pdf_file.url }}">Pobierz książkę</a>
                {% comment %}
                <a href="{% url "book_reader" book.slug %}" target="_blank">Czytaj online</a>
                {% endcomment %}
            {% endif %}
            {% comment %}
            {% if request.user.is_authenticated %}
                <div class="shelf-actions {% if not request.user|likes:book %}not-{% endif %}on-shelf">
                    <a href="{% url "social_like_book" book.slug %}" class="ajaxable add" data-ajax-method="post">Dodaj do swojej półki</a>
                    <a href="{% url "social_unlike_book" book.slug %}" class="ajaxable remove" data-ajax-method="post">Usuń ze swojej półki</a>
                </div>
            {% endif %}
            {% endcomment %}
        </div>
    </div>
    <div class="clear"></div>
</div>
{% comment %}
<div class="info">
    <h2>co zrobiliśmy, aby ta książka była dostępna?</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et sem in neque interdum cursus. Integer id ligula sit amet urna gravida venenatis. Proin hendrerit, quam nec bibendum pulvinar, nunc elit pharetra neque, eu accumsan mi velit a nisi. Suspendisse mi quam, pulvinar non lacinia sed, tempus vel sem. </p>
</div>
{% endcomment %}
<div class="clear"></div>
