{% extends "base.html" %}
{% load cache i18n comments %}
{% load thumbnail %}
{% load common_tags catalogue_tags pagination_tags %}

{% block titleextra %}{{ book.pretty_title }}{% endblock %}
{% block ogimage %}{% if book.cover %}{{ book.cover.url|build_absolute_uri:request }}{% endif %}{% endblock %}

{% block metadescription %}{% book_title book %}. {{ block.super }}{% endblock %}

{% block bodyid %}book-detail{% endblock %}

{% block body %}
    <div class="start">
        <h1>{{ book.title }}</h1>

        {% book_wide book %}

        {% work_list book_children %}

        <div class="comments">
            <h2>komentarze</h2>
            <div class="commentlist">
                {% render_comment_list for book %}
            </div>
            <div class="commentform">
                <div class="box">
                    <h3>dodaj komentarz</h3>
                    {% render_comment_form for book %}
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="recommended">
        <h2>inne książki</h2>
        {% related_books book %}
        <div class="clear"></div>
    </div>
{% endblock %}
